.suggest-existing{
    li{

        background-color: #fff;
        display: block;
        width: 100%;
        @include clearfix;
        border-bottom:1px solid #ccc;
    }
    aside{
        width:10vw;
        position:relative;
        float:left;
    }
    article{
        float:left;
        width:80vw;
        border:1px solid #e7e7e7;
        border-width:0 1px;
        box-sizing:border-box;
        padding:1.2rem;
    }
    .trend{
        padding-top:0.5rem;
        font-size:3rem;
        text-align:center;
        display:block;
    }
    .date{
        float:right;
    }


}