.page-host{
    padding-top:5rem
}
.navbar{
    @include clearfix;
    background-color:#fff;
    color:#444;
    border-bottom:1px solid #e6e6e6;
    box-shadow: 0 3px 0 rgba(0,0,0,0.4);
    position:fixed;
    width:100%;
    z-index:$top;
    a{
        line-height:2.25rem;
        height:2.25rem;
        padding:0 0 0 0.7rem;
        color:#444;
        &:visited, &:active{
            color:#444;
        }
    }
}

.navbar-nav{
    height:2.25rem;
    @include clearfix;
    text-align:center;
    li{
        display:inline-block;
    }
}
